{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}

<body>
    {% block content %}
        <div class="container">
            <div class="posts">
            {% for post in posts %}
                <div class="post">
                    <h2><a href="{% url 'details-post' post.pk %}">{{ post.title|capfirst }}</a></h2>

                    {% if not post.content %}
                        {% lorem 3 p %}
                    {% else %}
                        {{ post.content|markdown }}
                    {% endif %}

                    <div class="post-meta">
                        <span>Posted by {{ post.author|default:"anonymous" }} on {{ post.created_at|date:"d-M-Y" }}</span>
                    </div>
                </div>
            {% empty %}
                <h1>No Posts</h1>
            {% endfor %}
        </div>
    </div>
{% endblock %}

</body>
